#searchInput {
    font-family: 'Calibre', 'Arial', sans-serif;
    width: 440px;
    position: fixed;
    top: 17px;
    right: 30px;
    padding: 13px;
    padding-left: 20px;
    margin-bottom: 0;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    caret-color: rgba(255, 255, 255, 0.51);
    outline: none;
    background-color: rgba(37, 37, 37, 0.95);
    backdrop-filter: blur(2px);
    color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#searchInput:focus {
    background-color: rgba(37, 37, 37, 0.95);
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

#searchContainer #searchInput::placeholder {
    font-family: 'Calibre', 'Arial', sans-serif;
    color: #aaa; /* Keep a visible base color */
    background: linear-gradient(
        90deg,
        #89bdd3, /* A softer blue */
        #e0b0b0, /* A softer red */
        #f5deb3, /* A softer yellow */
        #e0eee0, /* A softer green */
        #89bdd3    /* Back to the first color */
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the actual text transparent to show the gradient */
    background-size: 400% 100%; /* Adjust size for slower animation */
    animation: subtle-shimmer 15s linear infinite; /* Animation runs by default */
    opacity: 1; /* Reduce intensity */
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    font-size: 20px;
    text-indent: 8px;
}


@keyframes subtle-shimmer {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; } /* Adjust end position */
}

#providerSearchInput::placeholder {
    font-family: 'Calibre', 'Arial', sans-serif;
    color: #aaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

#suggestions {
    position: fixed;
    top: 80px; /* Incorrect calculation */
    width: 440px;
    right: 30px;
    border-radius: 8px;
    background-color: rgba(37, 37, 37, 0.95);
    backdrop-filter: blur(2px);
    margin-bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: left;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions.show {
    opacity: 1;
}

#suggestions.show {
    opacity: 1;
}

.suggestion-item {
    padding: 12px 18px;
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.2s ease-in-out;
}

.suggestion-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #a7d1fa;
}

#results {
    position: fixed;
    right: 30px;
    top: 80px;
    width: 410px;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: none;
    max-height: 700px;
    overflow-y: auto;
    z-index: 1;
}

#results.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
}

#results h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    font-weight: normal;
}

#results h4 {
    color: #eee;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    animation: softGlowPinned 2s ease-in-out infinite alternate;
}

#results p {
    font-size: 17px;
    line-height: 1.4;
    color: #ccc;
    margin-bottom: 10px;
    margin-top: 4px;
}

#results palt{
    font-size: 17px;
    line-height: 1.4;
    color: #89bdd3;
    margin-bottom: 10px;
    margin-top: 4px;
}

#results strong {
    color: #89bdd3;
    font-weight: normal;
    margin-right: 5px;
}

.error {
    color: #e57373;
}

#results p.detail-label {
    font-size: 16px;
    color: #ccc;
}

@keyframes softGlowPinned {
    0% {
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    }
}